@model WebSucamec.Models.LicenciasPorTramitarModel
@{
    ViewBag.Title = "Licencias por Tramitar";
}

@Html.ActionLink("Licencias por tramitar", "LicenciasPorTramitar", "Licencia", null) 
<b>|</b>
@Html.ActionLink("Licencias tramitadas", "LicenciasTramitadas", "Licencia", null) 

<h2 style="text-align:center">Licencias Por Tramitar</h2>

<section>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    

<table>
<tr>
    <td><b><u>Datos del solicitante</u></b></td>
</tr>
</table>
<table>
<tr>
    <td>Nombre</td>
    <td><b>@Model.DatosLicenciaPorTramitar.NombreCiudadano</b></td>
</tr>
<tr>
    <td>Apellido Paterno</td>
    <td><b>@Model.DatosLicenciaPorTramitar.ApellidoPaternoCiudadano</b></td>
</tr>
<tr>
    <td>Apellido Materno</td>
    <td><b>@Model.DatosLicenciaPorTramitar.ApellidoMaternoCiudadano</b></td>
</tr>
<tr>
    <td>DNI</td>
    <td><b>@Model.DatosLicenciaPorTramitar.DNICiudadano</b></td>
</tr>
</table>

<table>
<tr>
    <td><b><u>Datos del arma</u></b></td>
</tr>
</table>
<table>
<tr>
    <td>Serie</td>
    <td><b>@Model.DatosLicenciaPorTramitar.SerieArma</b></td>
</tr>
<tr>
    <td>Tienda</td>
    <td><b>@Model.DatosLicenciaPorTramitar.Tienda</b></td>
</tr>
<tr>
    <td>Código de compra</td>
    <td><b>@Model.DatosLicenciaPorTramitar.CodSolicitud</b></td>
</tr>
</table>

<table>
<tr>
    <td>
        <table>
        <tr>
            <td><b><u>Antecedentes Policiales</u></b></td>
        </tr>
        </table>
        <table>
        <tr>
            <td>Antecedentes</td>
            <td><b>@Model.DatosAntecedentes.EstadoPolicial</b></td>
            <td>Código</td>
            <td><b>@Model.DatosAntecedentes.CodigoPolicial</b></td>
        </tr>        
        </table>  
        
        <table>
        <tr>
            <td><b><u>Antecedentes Judiciales</u></b></td>
        </tr>
        </table>
        <table>
        <tr>
            <td>Antecedentes</td>
            <td><b>Dato</b></td>
            <td>Código</td>
            <td><b>Dato</b></td>
        </tr>        
        </table>  

        <table>
        <tr>
            <td><b><u>Antecedentes Penales</u></b></td>
        </tr>
        </table>
        <table>
        <tr>
            <td>Antecedentes</td>
            <td><b>Dato</b></td>
            <td>Código</td>
            <td><b>Dato</b></td>
        </tr>        
        </table>
    
    </td>
    <td valign="top"><input type="submit" value ="Consultar Antecedentes"/></td>
</tr>
</table>

<table>
<tr>
    <td><input type="submit" value ="Dar conformidad"/></td>
    <td><input type="submit" value ="Rechazar"/></td>
</tr>
</table>
}
</section>


